

<!-- 
  - #FOOTER
-->

<footer class="footer">
    <div class="container">
  
      <div class="footer-top section">
  
        <div class="footer-brand">
  
          <a href="#" class="logo">CONTACTOS</a>
  
          <p class="footer-text">
            CALLE MANURIPI 3305, VILLA VICTORIA, LA PAZ BOLIVIA, 
          </p>
  
          <ul class="social-list">
  
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
  
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
  
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
  
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>
  
          </ul>
  
        </div>
  
        <!-- <ul class="navbar-list"> -->
        <ul class="footer-list">
          <li>
            <p class="footer-list-title">MENU</p>
          </li>
  
          
  
          <li >
            <a href="#home" class="footer-link" data-nav-link>
              <span>INICIO</span>  
            </a>
          </li>
  
          <li >
            <a href="#about" class="footer-link" data-nav-link>
              <span>SOBRE</span>
   
            </a>
          </li>
  
          <li  >
            <a href="#service" class="footer-link" data-nav-link>
              <span>BENEFICIOS</span> 
            </a>
          </li>
  
          <li  >
            <a href="#price" class="footer-link" data-nav-link>
              <span>PRECIOS</span> 
            </a>
          </li>
          <li  >
            <a href="#modules" class="footer-link" data-nav-link>
              <span>MODULOS</span> 
            </a>
          </li>
  
          <li >
            <a href="#contacts" class="footer-link" data-nav-link>
              <span>CONTACTANOS</span> 
            </a>
          </li>
  
  <!--        
          <li>
            <p class="footer-list-title">MENu</p>
          </li>
  
          <li>
            <a href="#" class="footer-link">About</a>
          </li>
  
          <li>
            <a href="#" class="footer-link">Services</a>
          </li>
  
          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>
  
          <li>
            <a href="#" class="footer-link">FAQ</a>
          </li>
  
          <li>
            <a href="#" class="footer-link">Contact Us</a>
          </li> -->
  
        </ul>
  <!-- 
        <ul class="footer-list">
  
          <li>
            <p class="footer-list-title">Services</p>
          </li>
  
          <li>
            <a href="#" class="footer-link">Warehouse</a>
          </li>
  
          <li>
            <a href="#" class="footer-link">Air Freight</a>
          </li>
  
          <li>
            <a href="#" class="footer-link">Ocean Freight</a>
          </li>
  
          <li>
            <a href="#" class="footer-link">Road Freight</a>
          </li>
  
          <li>
            <a href="#" class="footer-link">Packaging</a>
          </li>
  
        </ul>
  
        <ul class="footer-list">
  
          <li>
            <p class="footer-list-title">Community</p>
          </li>
  
          <li>
            <a href="#" class="footer-link">Business Consulting</a>
          </li>
  
          <li>
            <a href="#" class="footer-link">Testimonials</a>
          </li>
  
          <li>
            <a href="#" class="footer-link">Track Your Shipment</a>
          </li>
  
          <li>
            <a href="#" class="footer-link">Privacy Policy</a>
          </li>
  
          <li>
            <a href="#" class="footer-link">Terms & Condition</a>
          </li>
  
        </ul> -->
  
      </div>
  
      <div class="footer-bottom">
        <p class="copyright">
          &copy; 2023. All Rights Reserved by <a href="#" class="copyright-link">Jack distribucion</a>
        </p>
      </div>
  
    </div>
  </footer>
  
  
<!-- 
  - #BACK TO TOP
-->

<a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
  <ion-icon name="chevron-up"></ion-icon>
</a>  