<!-- 
   - #HEADER
 -->

 <header class="header" data-header>
    <div class="container">
  
      <div class="card-icon">
        <img src="assets/images/logob.png" width="126" height="140" loading="lazy" alt="Paper">
      </div>
  
      <h1>
        <a href="#" class="logo">JACK DISTRIBUCION </a>
      </h1>
  
      <nav class="navbar" data-navbar>
  
        <div class="navbar-top">
          <a href="#" class="logo">JACK DISTRIBUCION</a>
  
          <button class="nav-close-btn" aria-label="Clsoe menu" data-nav-toggler>
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>
  
        <ul class="navbar-list">
  
          <li class="navbar-item">
            <a href="#home" class="navbar-link" data-nav-link>
              <span>INICIO</span>
  
              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>
  
          <li class="navbar-item">
            <a href="#about" class="navbar-link" data-nav-link>
              <span>SOBRE</span>
  
              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>
  
          <li class="navbar-item">
            <a href="#service" class="navbar-link" data-nav-link>
              <span>BENEFICIOS</span>
  
              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>
  
          <li class="navbar-item">
            <a href="#price" class="navbar-link" data-nav-link>
              <span>PRECIOS</span>
  
              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>
          <li class="navbar-item">
            <a href="#modules" class="navbar-link" data-nav-link>
              <span>MODULOS</span>
  
              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>
  
          <li class="navbar-item">
            <a href="#contacts" class="navbar-link" data-nav-link>
              <span>CONTACTANOS</span>
  
              <ion-icon name="chevron-forward"></ion-icon>
            </a>
          </li>
  
        </ul>
  
      </nav>
  
      <div class="header-contact">
  
        <div>
          <p class="contact-label">CONTACTANOS</p>
  
          <a href="tel:12345678910" class="contact-number">68077255 </a>
        </div>
  
        <div class="contact-icon">
          <ion-icon name="call-outline"></ion-icon>
        </div>
  
      </div>
  
      <button class="nav-open-btn" aria-label="Open menu" data-nav-toggler>
        <ion-icon name="menu-outline"></ion-icon>
      </button>
  
      <div class="overlay" data-nav-toggler data-overlay></div>
  
    </div>
  </header>
  