

    <!-- 
      - #ABOUT
    -->

    <section class="section about" id="about" aria-label="about">
        <div class="container">
  
          <figure class="about-banner img-holder" style="--width: 400; --height: 720;">
            <img src="assets/images/about-banner.jpg" width="400" height="720" loading="lazy" alt=""
              class="img-cover">
  
            <img src="assets/images/about-shape-1.png" width="260" height="170" loading="lazy" alt=""
              class="abs-img abs-img-1">
  
            <img src="assets/images/about-shape-2.png" width="500" height="500" loading="lazy" alt=""
              class="abs-img abs-img-2">
          </figure>
  
          <div class="about-content">
  
            <p class="section-subtitle">POR QUÉ ELEGIRNOS</p>
  
            <h2 class="h2 section-title">Somos una Empresa de Desarrollo de Software Profesional de Logística y Carga</h2>
  
            <p class="section-text">
              Nuestro enfoque unico para desarrollar nuestros productos se basa en la distribucion local. Desarrollo de Software personalzado para satisfacer las necesidades de su empresa. 
              Brindandole los siguientes veneficios: 
                
            </p>
  
            <ul class="about-list">
  
              <li class="about-item">
                <div class="about-icon">
                  <ion-icon name="chevron-forward"></ion-icon>
                </div>
  
                <p class="about-text">
                  Vaya más allá de la logística, haga girar el mundo y revolucione los negocios.
                </p>
              </li>
  
              <li class="about-item">
                <div class="about-icon">
                  <ion-icon name="chevron-forward"></ion-icon>
                </div>
  
                <p class="about-text">
                  Logística a través de la innovación, la dedicación y la tecnología. listo, listo, listo.
                </p>
              </li>
  
              <li class="about-item">
                <div class="about-icon">
                  <ion-icon name="chevron-forward"></ion-icon>
                </div>
  
                <p class="about-text">
                  Estamos orgullosos de servir a nuestros clientes de forma segura. junto con la pasión.
                </p>
              </li>
  
              <li class="about-item">
                <div class="about-icon">
                  <ion-icon name="chevron-forward"></ion-icon>
                </div>
  
                <p class="about-text">
                  La imaginación lo que podemos ver fácilmente es sólo un pequeño porcentaje
                </p>
              </li>
  
              <li class="about-item">
                <div class="about-icon">
                  <ion-icon name="chevron-forward"></ion-icon>
                </div>
  
                <p class="about-text">
                  La calidad no pasa de moda. seguridad, calidad, profesionalismo.
                </p>
              </li>
  
              <li class="about-item">
                <div class="about-icon">
                  <ion-icon name="chevron-forward"></ion-icon>
                </div>
  
                <p class="about-text">
                  La calidad se nota en cada movimiento que damos donde vive el negocio.
                </p>
              </li>
  
            </ul>
  
            <!-- <a href="#" class="btn">Aprenda mas</a> -->
  
          </div>
  
        </div>
      </section>