

    <!-- 
      - #FEATURE
    -->

    <section class="section feature" aria-label="feature"  id="price">
        <div class="container">
  
          <div class="title-wrapper">
  
            <div>
              <p class="section-subtitle">PRECIOS</p>
  
              <h2 class="h2 section-title">Software que se adecuan a tu empresa.</h2>
  
              <p class="section-text">
                ...................
              </p>
            </div>
  
            <a href="#" class="btn">Leer Mas</a>
  
          </div>
  
          <ul class="feature-list grid-list">
  
            <li>
              <div class="feature-card" style="--card-number: '01'">
  
                <div class="card-icon">
                  <img src="assets/images/feature-icon-1.png" width="72" height="91" alt="">
                </div>
  
                <h3 class="h3 card-title">MICROEMPRESAS</h3>
  
                <p class="card-text">
                  Desde 100 Bs
                </p>
  
                <a href="#" class="card-btn" aria-label="Read more">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
  
              </div>
            </li>
  
            <li>
              <div class="feature-card" style="--card-number: '02'">
  
                <div class="card-icon">
                  <img src="assets/images/feature-icon-2.png" width="94" height="94" alt="">
                </div>
  
                <h3 class="h3 card-title">PEQUEÑAS EMPRESAS</h3>
  
                <p class="card-text">
                  Desde 300 Bs
                </p>
  
                <a href="#" class="card-btn" aria-label="Read more">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
  
              </div>
            </li>
  
            <li>
              <div class="feature-card" style="--card-number: '03'">
  
                <div class="card-icon">
                  <img src="assets/images/feature-icon-3.png" width="93" height="93" alt="">
                </div>
  
                <h3 class="h3 card-title">MEDIANAS</h3>
  
                <p class="card-text">
                  Desde 600 Bs
                </p>
  
                <a href="#" class="card-btn" aria-label="Read more">
                  <ion-icon name="arrow-forward"></ion-icon>
                </a>
  
              </div>
            </li>
  
          </ul>
  
        </div>
      </section>
  