<!-- 
   - #HEADER
 -->

 <header class="header" data-header>
  <div class="container">

    <div class="card-icon">
      <img src="assets/images/logo.png" width="126" height="140" loading="lazy" alt="Paper">
    </div>

    <h1>
      <a href="#" class="logo">JACK DISTRIBUCION </a>
    </h1>

    <nav class="navbar" data-navbar>

      <div class="navbar-top">
        <a href="#" class="logo">JACK DISTRIBUCION</a>

        <button class="nav-close-btn" aria-label="Clsoe menu" data-nav-toggler>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <ul class="navbar-list">

        <li class="navbar-item">
          <a href="#home" class="navbar-link" data-nav-link>
            <span>INICIO</span>

            <ion-icon name="chevron-forward"></ion-icon>
          </a>
        </li>

        <li class="navbar-item">
          <a href="#about" class="navbar-link" data-nav-link>
            <span>SOBRE</span>

            <ion-icon name="chevron-forward"></ion-icon>
          </a>
        </li>

        <li class="navbar-item">
          <a href="#service" class="navbar-link" data-nav-link>
            <span>NUESTROS SERVICIOS</span>

            <ion-icon name="chevron-forward"></ion-icon>
          </a>
        </li>

        <li class="navbar-item">
          <a href="#blog" class="navbar-link" data-nav-link>
            <span>CONTENIDO</span>

            <ion-icon name="chevron-forward"></ion-icon>
          </a>
        </li>

        <li class="navbar-item">
          <a href="#" class="navbar-link" data-nav-link>
            <span>CONTACTANOS</span>

            <ion-icon name="chevron-forward"></ion-icon>
          </a>
        </li>

      </ul>

    </nav>

    <div class="header-contact">

      <div>
        <p class="contact-label">CONTACTANOS</p>

        <a href="tel:12345678910" class="contact-number">68077255 </a>
      </div>

      <div class="contact-icon">
        <ion-icon name="call-outline"></ion-icon>
      </div>

    </div>

    <button class="nav-open-btn" aria-label="Open menu" data-nav-toggler>
      <ion-icon name="menu-outline"></ion-icon>
    </button>

    <div class="overlay" data-nav-toggler data-overlay></div>

  </div>
</header>





<main>
  <article>

    <!-- 
      - #HERO
    -->

    <section class="section hero" aria-label="home" id="home"
      style="background-image: url('assets/images/hero-banner.jpg')">
      <div class="container">

        <div class="hero-content">

          <h2 class="h1 hero-title">
            <span class="span">Software de</span> Distribucion
          </h2>

          <p class="hero-text">
            Administra y Controla todos tus procesos logisticos en una sola plataforma
          </p>

          <a href="#" class="btn-outline">Nuestros Servicios</a>

          <img src="assets/images/hero-shape.png" width="116" height="116" loading="lazy"
            class="hero-shape shape-1">

          <img src="assets/images/hero-shape.png" width="116" height="116" loading="lazy"
            class="hero-shape shape-2">

        </div>

      </div>
    </section>





    <!-- 
      - #ABOUT
    -->

    <section class="section about" id="about" aria-label="about">
      <div class="container">

        <figure class="about-banner img-holder" style="--width: 400; --height: 720;">
          <img src="assets/images/about-banner.jpg" width="400" height="720" loading="lazy" alt=""
            class="img-cover">

          <img src="assets/images/about-shape-1.png" width="260" height="170" loading="lazy" alt=""
            class="abs-img abs-img-1">

          <img src="assets/images/about-shape-2.png" width="500" height="500" loading="lazy" alt=""
            class="abs-img abs-img-2">
        </figure>

        <div class="about-content">

          <p class="section-subtitle">POR QUÉ ELEGIRNOS</p>

          <h2 class="h2 section-title">Somos una Empresa de Desarrollo de Software Profesional de Logística y Carga</h2>

          <p class="section-text">
            Nuestro enfoque unico para desarrollar nuestros productos se basa en la distribucion local. Desarrollo de Software personalzado para satisfacer las necesidades de su empresa. 
            Brindandole los siguientes veneficios: 
              
          </p>

          <ul class="about-list">

            <li class="about-item">
              <div class="about-icon">
                <ion-icon name="chevron-forward"></ion-icon>
              </div>

              <p class="about-text">
                Vaya más allá de la logística, haga girar el mundo y revolucione los negocios.
              </p>
            </li>

            <li class="about-item">
              <div class="about-icon">
                <ion-icon name="chevron-forward"></ion-icon>
              </div>

              <p class="about-text">
                Logística a través de la innovación, la dedicación y la tecnología. listo, listo, listo.
              </p>
            </li>

            <li class="about-item">
              <div class="about-icon">
                <ion-icon name="chevron-forward"></ion-icon>
              </div>

              <p class="about-text">
                Estamos orgullosos de servir a nuestros clientes de forma segura. junto con la pasión.
              </p>
            </li>

            <li class="about-item">
              <div class="about-icon">
                <ion-icon name="chevron-forward"></ion-icon>
              </div>

              <p class="about-text">
                La imaginación lo que podemos ver fácilmente es sólo un pequeño porcentaje
              </p>
            </li>

            <li class="about-item">
              <div class="about-icon">
                <ion-icon name="chevron-forward"></ion-icon>
              </div>

              <p class="about-text">
                La calidad no pasa de moda. seguridad, calidad, profesionalismo.
              </p>
            </li>

            <li class="about-item">
              <div class="about-icon">
                <ion-icon name="chevron-forward"></ion-icon>
              </div>

              <p class="about-text">
                La calidad se nota en cada movimiento que damos donde vive el negocio.
              </p>
            </li>

          </ul>

          <!-- <a href="#" class="btn">Aprenda mas</a> -->

        </div>

      </div>
    </section>





    <!-- 
      - #SERVICE
    -->

    <section class="section service" id="service" aria-label="service">
      <div class="container">

        <p class="section-subtitle">TODOS LOS SERVICIOS</p>

        <h2 class="h2 section-title">Confiablilidad en nuestros servicios</h2>

        <p class="section-text">
          Con Jack Distribucion usted podra planificar, organizar, gestionar, medir y controlar todos tus proveedores logisticos, clientes y la propia distribucion en un solo lugar. Convinando los veneficios de RR.HH, Finanzas, facturacion y CRM. 
        </p>

        <ul class="service-list grid-list">

          <li>
            <div class="service-card">

              <div class="card-icon">
                <img src="assets/images/service-icon-1.png" width="80" height="60" loading="lazy" alt="Truck">
              </div>

              <h3 class="h3 card-title">
                <span class="span">01</span> Configuración rápida y sencilla
              </h3>

              <p class="card-text">
                Nuestros softwares de gestión de flotas y activos fueron diseñados para ser fáciles de usar y de configurar. Comience a usarla en minutos. Luego, después de la compra, simplemente continúe usando el software completamente desbloqueado como antes, sin migraciones ni reinstalaciones
              </p>

              <a href="#" class="btn-link">
                <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                <!-- <span class="span">Ver Detalles</span> -->
              </a>

            </div>
          </li>

          <li>
            <div class="service-card">

              <div class="card-icon">
                <img src="assets/images/service-icon-2.png" width="74" height="60" loading="lazy" alt="Ship">
              </div>

              <h3 class="h3 card-title">
                <span class="span">02</span> AHORRE TIEMPO Y DINERO
              </h3>

              <p class="card-text">
                Jack automatiza muchas de las tareas manuales involucradas en la gestión de entregas, lo que le ahorra tiempo y dinero
              </p>

              <a href="#" class="btn-link">
                <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                <!-- <span class="span">Ver Detalles</span> -->
              </a>

            </div>
          </li>

          <li>
            <div class="service-card">

              <div class="card-icon">
                <img src="assets/images/service-icon-3.png" width="60" height="60" loading="lazy" alt="Airplane">
              </div>

              <h3 class="h3 card-title">
                <span class="span">03</span> AUMENTE LA SATISFACCIÓN DEL CLIENTE.
              </h3>

              <p class="card-text">
                Su confianza en su solución de software de gestión de sus distribuidores. Los clientes aprecian poder recibir sus pedidos a tiempo y en perfectas condiciones
              </p>

              <a href="#" class="btn-link">
                <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                <!-- <span class="span">Ver Detalles</span> -->
              </a>

            </div>
          </li>

          <li>
            <div class="service-card">

              <div class="card-icon">
                <img src="assets/images/service-icon-4.png" width="50" height="60" loading="lazy" alt="Train">
              </div>

              <h3 class="h3 card-title">
                <span class="span">04</span> Siempre disponible Web habilitada.
              </h3>

              <p class="card-text">
                Nuestro software de gestión de flotas está diseñado para que, sin importar dónde se encuentre usted o su personal; Ya sea en la oficina o fuera, tratando con clientes y trabajando de forma remota, su base de datos y su información están disponibles para quienes las necesitan cuando las necesitan
              </p>

              <a href="#" class="btn-link">
                <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                <!-- <span class="span">Ver detalles</span> -->
              </a>

            </div>
          </li>

          <li>
            <div class="service-card">

              <div class="card-icon">
                <img src="assets/images/service-icon-5.png" width="63" height="60" loading="lazy" alt="Trolley">
              </div>

              <h3 class="h3 card-title">
                <span class="span">05</span> Almacenamiento
              </h3>

              <p class="card-text">
                Se contempla con el modulo para la admnistracion de carga almacenada dentro de periodos especificos de entrega y recepcion de carga
              </p>

              <a href="#" class="btn-link">
                <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                <span class="span">Ver Detalles</span>
              </a>

            </div>
          </li>

          <li>
            <div class="service-card">

              <div class="card-icon">
                <img src="assets/images/service-icon-6.png" width="46" height="60" loading="lazy" alt="Paper">
              </div>

              <h3 class="h3 card-title">
                <span class="span">06</span>MEJORE LA EFICIENCIA
              </h3>

              <p class="card-text">
                Jack le ayuda a identificar áreas de mejora en la gestión de entregas, lo que le permite mejorar la eficiencia y reducir costos
              </p>

              <a href="#" class="btn-link">
                <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                <span class="span">Ver Detalles </span>
              </a>

            </div>
          </li>

        </ul>

      </div>
    </section>





    <!-- 
      - #FEATURE
    -->

    <section class="section feature" aria-label="feature">
      <div class="container">

        <div class="title-wrapper">

          <div>
            <p class="section-subtitle">ALCANCES</p>

            <h2 class="h2 section-title">Contamos con una amplia gama de soluciones. </h2>

            <p class="section-text">
              ...................
            </p>
          </div>

          <a href="#" class="btn">Leer Mas</a>

        </div>

        <ul class="feature-list grid-list">

          <li>
            <div class="feature-card" style="--card-number: '01'">

              <div class="card-icon">
                <img src="assets/images/feature-icon-1.png" width="72" height="91" alt="">
              </div>

              <h3 class="h3 card-title">Soluciones y especializadas</h3>

              <p class="card-text">
                Nuestro objetivo es optimizar y mejorar su cadena de suministro para que podamos brindarle el mejor servicio.
              </p>

              <a href="#" class="card-btn" aria-label="Read more">
                <ion-icon name="arrow-forward"></ion-icon>
              </a>

            </div>
          </li>

          <li>
            <div class="feature-card" style="--card-number: '02'">

              <div class="card-icon">
                <img src="assets/images/feature-icon-2.png" width="94" height="94" alt="">
              </div>

              <h3 class="h3 card-title">Múltiples almacenes</h3>

              <p class="card-text">
                Ofrecemos múltiples ubicaciones de entrega y recogida para que no tenga que preocuparse. Y no deberías enfrentarte a ningún tipo..
              </p>

              <a href="#" class="card-btn" aria-label="Read more">
                <ion-icon name="arrow-forward"></ion-icon>
              </a>

            </div>
          </li>

          <li>
            <div class="feature-card" style="--card-number: '03'">

              <div class="card-icon">
                <img src="assets/images/feature-icon-3.png" width="93" height="93" alt="">
              </div>

              <h3 class="h3 card-title">Seguimiento simplificado</h3>

              <p class="card-text">
                Un número de seguimiento para todo el proceso. para que puedas encontrar la posición exacta. este proceso te ayudará
              </p>

              <a href="#" class="card-btn" aria-label="Read more">
                <ion-icon name="arrow-forward"></ion-icon>
              </a>

            </div>
          </li>

        </ul>

      </div>
    </section>





    <!-- 
      - #PROJECT
    -->

    <section class="section project" aria-label="project">
      <div class="container">

        <p class="section-subtitle">PROYECTOS</p>

        <h2 class="h2 section-title">Proyectos Destacados</h2>

        <p class="section-text">
          ...........................
        </p>

        <ul class="project-list">

          <li class="project-item">
            <div class="project-card">

              <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                <img src="assets/images/project-1.jpg" width="397" height="352" loading="lazy"
                  alt="Warehouse inventory" class="img-cover">
              </figure>

              <button class="action-btn" aria-label="View image">
                <ion-icon name="expand-outline"></ion-icon>
              </button>

              <div class="card-content">
                <p class="card-tag">Almacenamiento, Distribución</p>

                <h3 class="h3">
                  <a href="#" class="card-title">Inventario de almacén
                  </a>
                </h3>

                <a href="#" class="card-link">LEER MÁS</a>
              </div>

            </div>
          </li>

          <li class="project-item">
            <div class="project-card">

              <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                <img src="assets/images/project-2.jpg" width="397" height="352" loading="lazy"
                  alt="Warehouse inventory" class="img-cover">
              </figure>

              <button class="action-btn" aria-label="View image">
                <ion-icon name="expand-outline"></ion-icon>
              </button>

              <div class="card-content">
                <p class="card-tag">Logistics, Analytics</p>

                <h3 class="h3">
                  <a href="#" class="card-title">Minimize Manufacturing</a>
                </h3>

                <a href="#" class="card-link">Read More</a>
              </div>

            </div>
          </li>

          <li class="project-item">
            <div class="project-card">

              <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                <img src="assets/images/project-3.jpg" width="397" height="352" loading="lazy"
                  alt="Warehouse inventory" class="img-cover">
              </figure>

              <button class="action-btn" aria-label="View image">
                <ion-icon name="expand-outline"></ion-icon>
              </button>

              <div class="card-content">
                <p class="card-tag">Warehousing , Distrbution</p>

                <h3 class="h3">
                  <a href="#" class="card-title">Warehouse inventory</a>
                </h3>

                <a href="#" class="card-link">Read More</a>
              </div>

            </div>
          </li>

          <li class="project-item">
            <div class="project-card">

              <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                <img src="assets/images/project-4.jpg" width="397" height="352" loading="lazy"
                  alt="Warehouse inventory" class="img-cover">
              </figure>

              <button class="action-btn" aria-label="View image">
                <ion-icon name="expand-outline"></ion-icon>
              </button>

              <div class="card-content">
                <p class="card-tag">Logistics, Analytics</p>

                <h3 class="h3">
                  <a href="#" class="card-title">Minimize Manufacturing</a>
                </h3>

                <a href="#" class="card-link">Read More</a>
              </div>

            </div>
          </li>

          <li class="project-item">
            <div class="project-card">

              <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                <img src="assets/images/project-5.jpg" width="397" height="352" loading="lazy"
                  alt="Warehouse inventory" class="img-cover">
              </figure>

              <button class="action-btn" aria-label="View image">
                <ion-icon name="expand-outline"></ion-icon>
              </button>

              <div class="card-content">
                <p class="card-tag">Warehousing , Distrbution</p>

                <h3 class="h3">
                  <a href="#" class="card-title">Warehouse inventory</a>
                </h3>

                <a href="#" class="card-link">Read More</a>
              </div>

            </div>
          </li>

          <li class="project-item">
            <div class="project-card">

              <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                <img src="assets/images/project-6.jpg" width="397" height="352" loading="lazy"
                  alt="Warehouse inventory" class="img-cover">
              </figure>

              <button class="action-btn" aria-label="View image">
                <ion-icon name="expand-outline"></ion-icon>
              </button>

              <div class="card-content">
                <p class="card-tag">Logistics, Analytics</p>

                <h3 class="h3">
                  <a href="#" class="card-title">Minimize Manufacturing</a>
                </h3>

                <a href="#" class="card-link">Read More</a>
              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>





    <!-- 
      - #BLOG
    -->

    <section class="section blog" aria-label="blog" id="blog">
      <div class="container">

        <p class="section-subtitle">Our Blogs</p>

        <h2 class="h2 section-title">Recent news & events</h2>

        <p class="section-text">
         PRUEBA..............................................
        </p>

        <ul class="blog-list grid-list">

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 770; --height: 500;">
                <img src="assets/images/blog-1.jpg" width="770" height="500" loading="lazy"
                  alt="At the end of the day, going forward, a new normal that has evolved from. your only logistic partner."
                  class="img-cover">
              </figure>

              <div class="card-content">

                <time class="card-meta" datetime="2022-08-02">
                  <span class="span">02</span> Aug
                </time>

                <h3 class="h3 card-title">
                  <a href="#">
                    At the end of the day, going forward, a new normal that has evolved from. your only logistic
                    partner.
                  </a>
                </h3>

                <p class="card-text">
                  New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit. typesetting
                  industry the standard
                  dummy text ever since the when an printer.
                </p>

                <a href="#" class="btn-link">
                  <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                  <span class="span">Read More</span>
                </a>

              </div>

            </div>
          </li>

          <li>
            <div class="blog-card">

              <figure class="card-banner img-holder" style="--width: 770; --height: 500;">
                <img src="assets/images/blog-2.jpg" width="770" height="500" loading="lazy"
                  alt="Going forward, a new normal that has evolved from generation. moving your products across all borders."
                  class="img-cover">
              </figure>

              <div class="card-content">

                <time class="card-meta" datetime="2022-08-21">
                  <span class="span">21</span> Aug
                </time>

                <h3 class="h3 card-title">
                  <a href="#">
                    Going forward, a new normal that has evolved from generation. moving your products across all
                    borders.
                  </a>
                </h3>

                <p class="card-text">
                  New chip traps clusters of migrating tumor cells asperiortenetur, blanditiis odit. typesetting
                  industry the standard
                  dummy text ever since the when an printer.
                </p>

                <a href="#" class="btn-link">
                  <ion-icon name="chevron-forward" aria-hidden="true"></ion-icon>

                  <span class="span">Read More</span>
                </a>

              </div>

            </div>
          </li>

        </ul>

      </div>
    </section>





    <!-- 
      - #NEWSLETTER
    -->

    <section class="section newsletter" aria-label="newsletter">
      <div class="container">

        <figure class="newsletter-banner img-holder">
          <img src="assets/images/newsletter-banner.png" width="303" height="381" alt="newsletter banner"
            class="w-100">
        </figure>

        <div class="newsletter-content">

          <h2 class="h2 section-title">Subscribe for offers and news</h2>

          <form action="" class="newsletter-form">
            <input type="email" name="email_address" placeholder="Enter Your Email" aria-label="email"
              class="email-field">

            <button type="submit" class="newsletter-btn">Subscribe Now</button>
          </form>

        </div>

      </div>
    </section>

  </article>
</main>





<!-- 
  - #FOOTER
-->

<footer class="footer">
  <div class="container">

    <div class="footer-top section">

      <div class="footer-brand">

        <a href="#" class="logo">Transportio</a>

        <p class="footer-text">
          Many desktop publishing packages and web page editors now use are dolra Ipsum as their default.
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Quick Links</p>
        </li>

        <li>
          <a href="#" class="footer-link">About</a>
        </li>

        <li>
          <a href="#" class="footer-link">Services</a>
        </li>

        <li>
          <a href="#" class="footer-link">Blog</a>
        </li>

        <li>
          <a href="#" class="footer-link">FAQ</a>
        </li>

        <li>
          <a href="#" class="footer-link">Contact Us</a>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Services</p>
        </li>

        <li>
          <a href="#" class="footer-link">Warehouse</a>
        </li>

        <li>
          <a href="#" class="footer-link">Air Freight</a>
        </li>

        <li>
          <a href="#" class="footer-link">Ocean Freight</a>
        </li>

        <li>
          <a href="#" class="footer-link">Road Freight</a>
        </li>

        <li>
          <a href="#" class="footer-link">Packaging</a>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Community</p>
        </li>

        <li>
          <a href="#" class="footer-link">Business Consulting</a>
        </li>

        <li>
          <a href="#" class="footer-link">Testimonials</a>
        </li>

        <li>
          <a href="#" class="footer-link">Track Your Shipment</a>
        </li>

        <li>
          <a href="#" class="footer-link">Privacy Policy</a>
        </li>

        <li>
          <a href="#" class="footer-link">Terms & Condition</a>
        </li>

      </ul>

    </div>

    <div class="footer-bottom">
      <p class="copyright">
        &copy; 2023. All Rights Reserved by <a href="#" class="copyright-link">Jassa</a>
      </p>
    </div>

  </div>
</footer>





<!-- 
  - #BACK TO TOP
-->

<a href="#top" class="back-top-btn" aria-label="Back to top" data-back-top-btn>
  <ion-icon name="chevron-up"></ion-icon>
</a>