<section class="section hero" aria-label="home" id="home" style="background-image: url('assets/images/hero-banner.jpg')">
    <div class="container">

        <div class="hero-content">

            <h2 class="h1 hero-title">
                <span class="span">Software de</span> Distribucion ....
            </h2>

            <p class="hero-text">
                Administra y Controla todos tus procesos logisticos en una sola plataforma
            </p>

            <a href="#" class="btn-outline">Nuestros Servicios</a>

            <img src="assets/images/hero-shape.png" width="116" height="116" loading="lazy" class="hero-shape shape-1">

            <img src="assets/images/hero-shape.png" width="116" height="116" loading="lazy" class="hero-shape shape-2">

        </div>

    </div>
</section>