
    <!-- 
      - #PROJECT
    -->

    <section class="section project" aria-label="project" id="modules">
        <div class="container">
  
          <p class="section-subtitle">MODULOS</p>
  
          <h2 class="h2 section-title">Modulos Destacados</h2>
  
          <p class="section-text">
            ...........................
          </p>
  
          <ul class="project-list">
  
            <li class="project-item">
              <div class="project-card">
  
                <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                  <img src="assets/images/project-1.jpg" width="397" height="352" loading="lazy"
                    alt="Warehouse inventory" class="img-cover">
                </figure>
  
                <button class="action-btn" aria-label="View image">
                  <ion-icon name="expand-outline"></ion-icon>
                </button>
  
                <div class="card-content">
                  <p class="card-tag">Usuario, roles, Contratos</p>
  
                  <h3 class="h3">
                    <a href="#" class="card-title">RRHH
                    </a>
                  </h3>
  
                  <a href="#" class="card-link">LEER MÁS</a>
                </div>
  
              </div>
            </li>
  
            <li class="project-item">
              <div class="project-card">
  
                <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                  <img src="assets/images/project-2.jpg" width="397" height="352" loading="lazy"
                    alt="Warehouse inventory" class="img-cover">
                </figure>
  
                <button class="action-btn" aria-label="View image">
                  <ion-icon name="expand-outline"></ion-icon>
                </button>
  
                <div class="card-content">
                  <p class="card-tag">Inventarios, preventas, picking,  rutas</p>
  
                  <h3 class="h3">
                    <a href="#" class="card-title">Logistica y distribución</a>
                  </h3>
  
                  <a href="#" class="card-link">LEER MÁS</a>
                </div>
  
              </div>
            </li>
  
            <li class="project-item">
              <div class="project-card">
  
                <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                  <img src="assets/images/project-3.jpg" width="397" height="352" loading="lazy"
                    alt="Warehouse inventory" class="img-cover">
                </figure>
  
                <button class="action-btn" aria-label="View image">
                  <ion-icon name="expand-outline"></ion-icon>
                </button>
  
                <div class="card-content">
                  <p class="card-tag">Ventas, ventas moviles, por cobrar, cajas y liquidaciones</p>
  
                  <h3 class="h3">
                    <a href="#" class="card-title">Liquidaciones</a>
                  </h3>
  
                  <a href="#" class="card-link">LEER MÁS</a>
                </div>
  
              </div>
            </li>
  
            <li class="project-item">
              <div class="project-card">
  
                <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                  <img src="assets/images/project-4.jpg" width="397" height="352" loading="lazy"
                    alt="Warehouse inventory" class="img-cover">
                </figure>
  
                <button class="action-btn" aria-label="View image">
                  <ion-icon name="expand-outline"></ion-icon>
                </button>
  
                <div class="card-content">
                  <p class="card-tag">Logistics, Analytics</p>
  
                  <h3 class="h3">
                    <a href="#" class="card-title">Minimize Manufacturing</a>
                  </h3>
  
                  <a href="#" class="card-link">Read More</a>
                </div>
  
              </div>
            </li>
  
            <li class="project-item">
              <div class="project-card">
  
                <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                  <img src="assets/images/project-5.jpg" width="397" height="352" loading="lazy"
                    alt="Warehouse inventory" class="img-cover">
                </figure>
  
                <button class="action-btn" aria-label="View image">
                  <ion-icon name="expand-outline"></ion-icon>
                </button>
  
                <div class="card-content">
                  <p class="card-tag">Warehousing , Distrbution</p>
  
                  <h3 class="h3">
                    <a href="#" class="card-title">Warehouse inventory</a>
                  </h3>
  
                  <a href="#" class="card-link">Read More</a>
                </div>
  
              </div>
            </li>
  
            <li class="project-item">
              <div class="project-card">
  
                <figure class="card-banner img-holder" style="--width: 397; --height: 352;">
                  <img src="assets/images/project-6.jpg" width="397" height="352" loading="lazy"
                    alt="Warehouse inventory" class="img-cover">
                </figure>
  
                <button class="action-btn" aria-label="View image">
                  <ion-icon name="expand-outline"></ion-icon>
                </button>
  
                <div class="card-content">
                  <p class="card-tag">Logistics, Analytics</p>
  
                  <h3 class="h3">
                    <a href="#" class="card-title">Minimize Manufacturing</a>
                  </h3>
  
                  <a href="#" class="card-link">Read More</a>
                </div>
  
              </div>
            </li>
  
          </ul>
  
        </div>
      </section>
  
     <!-- 
      - #NEWSLETTER
    -->

    <section class="section newsletter" aria-label="newsletter" id="contacts">
      <div class="container">

        <figure class="newsletter-banner img-holder">
          <img src="assets/images/newsletter-banner.png" width="303" height="381" alt="newsletter banner"
            class="w-100">
        </figure>

        <div class="newsletter-content">

          <h2 class="h2 section-title" style="color:white">Contactanos para mas descuentos y beneficios</h2>

          <!-- <form action="" class="newsletter-form">
            <input type="email" name="email_address" placeholder="Enter Your Email" aria-label="email"
              class="email-field">

            <button type="submit" class="newsletter-btn">Subscribe Now</button>
          </form> -->

          <button type="button" class="btn newsletter-btn">Consultar</button>
        </div>

      </div>
    </section>